name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build -t nettrs .
    - name: Check if container install pygame
      run: docker run --rm -v $PWD:/work --name nettrs -i nettrs pip3 show pygame
    - name: Check if container install numpy
      run: docker run --rm -v $PWD:/work --name nettrs -i nettrs pip3 show numpy
